.garage-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.create-form,
.update-form {
  display: flex;
  margin: 0;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.control-group {
  display: flex;
  gap: 5px;
}

.control-input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.control-input[type='color'] {
  width: 60px;
  height: 40px;
  padding: 3px;
}

.control-btn {
  cursor: pointer;

  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;

  background-color: #f0f0f0;
}

.generate-btn {
  cursor: pointer;

  width: fit-content;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;

  background-color: #f0f0f0;
}

.actions {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.action-btn {
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
}

.action-btn.primary {
  color: white;
  background-color: #007bff;
}

.cars-container {
  display: flex;
  flex-direction: column;

  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.car-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.car-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.select-btn {
  color: white;
  background-color: #4caf50;
}

.remove-btn {
  color: white;
  background-color: #f44336;
}

.car-name {
  margin: 0 10px;
  font-weight: bold;

  /* -webkit-text-stroke: 1px black; */
}

.car-visual {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.car-visual object {
  padding: 0;
}

.finish-flag {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  width: 40px;
  height: 40px;
}
